@import url(http://fonts.googleapis.com/css?family=Cherry+Swash:700);

body {
    background-image: url(../img/calle.jpg);
    background-repeat: repeat-x;
    background-position:left bottom;
    background-size: cover;

    animation: fondo 20s linear infinite;
    -webkit-animation: fondo 20s linear infinite;
}

@keyframes fondo {

    from { background-position: 0px 0px;}
    to { background-position: 1600px 0px;}
}

@-webkit-keyframes fondo {

    from { background-position: 0px 0px;}
    to { background-position: 1600px 0px;}
}

.frente {

    position: absolute;
    /*border: 5px solid red;*/
    bottom: 10px;
    left: 30%;
    height: 50%;
    z-index: 10;

    animation:pikachu 1s alternate;
    -webkit-animation:pikachu 1s alternate;
}

.frente img {
    
    height: 100%

}

@keyframes pikachu{

    from {bottom: 0px;}
    to {bottom: 20px;}
}

@-webkit-keyframes pikachu{

    from {bottom: 0px;}
    to {bottom: 20px;}
}

@keyframes ditto{
    from {bottom: 10px;}
    to {bottom: 30px;}  
}

@-webkit-keyframes ditto{
    from {bottom: 10px;}
    to {bottom: 30px;}  
}

.frente .ditto {
    position: absolute;
    height: 50%;
    bottom: 10px;

    animation: ditto 0.5s alternate infinite linear;
    -webkit-animation: ditto 0.5s alternate infinite linear;
}

.piso{

    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: gray;
}

.boton {
    width: 80%;
    height: 100px;
    border: 3px solid darkred;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(255,255,255,0.4);
    -webkit-background-color: rgba(255,255,255,0.4);
    box-shadow: 5px 2px 5px 0px #333;
    -webkit-box-shadow: 5px 2px 5px 0px #333;
}

.boton h1,
.boton p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.boton h1{
    font-family: 'Cherry Swash', cursive;
    font-size: 40px;
    color: darkred;
    text-shadow: 0 0 3px #333;
    -webkit-ext-shadow: 0 0 3px #333;
}

.boton p {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: #333;
}

@media(max-width: 420px ){
    .frente  {
    height:25%;
   
    }

    .piso {
        height: 50px;
    }

    body {
    }

    @keyframes fondo {
        from{background-position: 770px 0}
        to{background-position: 0px 0}
    }

    @-webkit-keyframes fondo {
        from{background-position: 770px 0}
        to{background-position: 0px 0}
    }
}
    
